<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="description" content="<%= post.metaDesc %>">
    <meta name="theme-color" content="#2b2d42">

    <!-- Bootstrap CSS, google fonts, font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Pacifico&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
    <link rel="canonical" href="https://www.mavnew.com/list-review/<%- post.url %>">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/list-review.min.css">

    <title><%- post.name %> - Mavnew</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
      <div class="container-fluid mt-4">
        <div class="row justify-content-center">
          <main class="col-lg-7 col-md-11">
            <article>
              <header>
                <small id="small-nav">
                  <a href="/">Home</a> > 
                  <a href="">List-review</a> > 
                  <span><%- post.name %></span>
                </small>
                <h1 class="mt-2"><%- post.name %> - Buyer's Guide</h1>
                <p><small class="text-muted">by <b>Kehinde Yishawu</b> | Updated <time datetime="2020-09-01">setember 1, 2020</time> </small></p>
              </header>
              <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:950/<%- post.postImg %>" alt="<%- post.postImgAlt %>" class="post-img d-md-block d-none">
              <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,q_auto,w_auto:100:500/<%- post.postImg %>" alt="<%- post.postImgAlt %>" class="post-img d-md-none">
              <%- include(`../posts/list-review/${post.url}.ejs`) %>
              <footer id="post-footer" class="space-top">
                <div id="social-share" class="text-center">
                  <div class="d-none d-md-block">
                    <i class="fas fa-share-alt"></i>
                  </div>
                  <div>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div>
                    <a href=""><i class="fab fa-twitter"></i></a>
                  </div>
                  <div>
                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                  </div>
                  <div>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                  <div>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                  </div>
                  <div>
                    <a href=""><i class="fas fa-envelope"></i></a>
                  </div>
                </div>
                <div class="row" id="post-newsletter">
                  <div class="col-md-4 pr-md-0 d-none d-md-block">
                    <img src="https://res.cloudinary.com/mavnew/c_scale,w_500/icon3.jpg" alt="woman with a lovely skin and skincare routine" class="img-fluid h-100">
                  </div>
                  <div class="col-md-8 p-4 pb-0 sub-content">
                    <h2 class="text-center">Subscribe To Newsletter</h2>
                    <p>
                      Get the latest updates from our Newsletter on fitness tips and posts. When you subscribe to our newsletter, you also get our free skincare ebook for a smooth and silky skin.
                    </p>
                    <P>
                      Not only should your body be fit, but we also encourage having a smooth and well moisturized skin with a robust skincare routine.
                    </P>
                    <form class="container">
                      <label for="post-email">Enter your email:</label>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <input type="email" id="post-email" name="email" class="form-control" required>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-warning">Subscribe</button>
                        </div>
                      </div>
                      <span class="mt-1 text-danger res"></span>
                    </form>
                  </div>
                </div>
              </footer>
            </article>
          </main>
          <aside class="col-lg-3 col-md-11 ml-lg-4" id="aside">
            <article id="owner-info">
              <!-- <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,h_270,q_auto,r_200,w_270/tife.jpg" alt="website owner" class="d-block mx-auto mt-4 mb-4"> -->
              <img src="https://res.cloudinary.com/mavnew/c_scale,f_auto,h_270,q_auto,r_200,w_270/samples/people/kitchen-bar.jpg" alt="website owner" class="d-block mx-auto mt-5 mt-lg-4 mb-4">
              <h2>Hello!! My name is Kenny</h2>
              <p class="text-center">
                <small class="text-muted">
                  I love to sing, code, eat and sleep alot. I am software developer with an innovative mind. I love to think anything is possible once you set your mind in the right direction
                </small>
              </p>
              <address class="text-center">
                <a href="" title="Facebook" class="text-dark"><i class="fab fa-facebook-f mr-3"></i></a>
                <a href="" title="Twitter" class="text-dark"><i class="fab fa-twitter mr-3"></i></a>
                <a href="" title="Instagram" class="text-dark"><i class="fab fa-instagram mr-3"></i></a>
                <a href="" title="LinkedIn" class="text-dark"><i class="fab fa-linkedin mr-3"></i></a>
                <a href="" title="Pinterest" class="text-dark"><i class="fab fa-pinterest"></i></a>                
              </address>
            </article>
            <section id="recent-post">
              <h2 class="mt-5 text-center text-lg-left pl-lg-5">Recent Posts</h2>
              <ul class="list-unstyled text-center text-lg-left pl-lg-5">
                <% for(let list of recent){ %>
                  <li><a class="custom-link" href="/<%- list.category %>/<%- list.url %>"><%- list.name %></a></li>
                <% } %>
              </ul>
            </section>
            <p class="text-center">Amazon ads</p>
            <p class="text-center">Other Advertisement placement</p>
          </aside>
        </div>
      </div>
    <%- include("../partials/footer.ejs") %>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/list-review.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>